.dropzone {
  padding: rem(10);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(224);
  border: 1px dashed $black;

  &[data-state="loaded"] {
    border-style: solid;

    .dropzone__caption {
      display: none;
    }

    .dropzone__result {
      display: block;
    }
  }

  &[data-state="no-accept"] {
    opacity: 0.5;
  }

  &[data-state="dragging"] {
    border-width: 3px;
  }
}

.dropzone__caption {
  text-align: center;
  pointer-events: none;
}

.dropzone__result {
  display: none;
  width: 100%;

  p {
    margin-bottom: rem(4);

    &:last-child {
      margin-bottom: 0;
    }
  }

  audio {
    display: block;
    margin-top: rem(16);
    width: 100%;
  }
}
