{% macro dropzone(id) %}
<div id="{{ id }}" class="dropzone" data-module="dropzone">

  <span class="dropzone__caption tx-caption">Drop file or click to open file</span>

  <input class="visuallyhidden" type="file" accept="audio/wav">

  <div class="dropzone__result" data-result></div>
</div>
{% endmacro %}
