{% from "helper-section.njk" import wrapper as section %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WAV Helpers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  {% if isProd -%}
  <style>{{ inlineStyle | trim }}</style>
  {%- else %}
  <link href="/{{ manifest['css/main.css'] }}" rel="stylesheet">
  {%- endif %}
</head>
<body>

<header class="site-header">
  <div class="container">
    <h1 class="tx-large sp-l">WAV helpers</h1>
    <p class="tx-body sp-m">All audio manipulation is done in the browser using the Web Audio API. No data is sent to the server.</p>

    <nav>
      <ul class="sp-m">
        <li>
          <a href="#mono2stereo">Convert two mono tracks to a stereo track</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  {% call section('mono2stereo') %}
    {% include 'mono2stereo.njk' %}
  {% endcall %}
</main>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2Ces6%2Ces7"></script>
<script src="/{{ manifest['js/main.js'] }}"></script>
</body>
</html>
