<section>
  <h1>Two Mono To Stereo</h1>

  <div data-module="m2st">
    <label>
      LEFT
      <input type="file" data-left>
    </label>

    <label>
      RIGHT
      <input type="file" data-right>
    </label>

    <div>
      <button data-convert disabled>convert</button>
    </div>
  </div>

</section>
