{% from "dropzone.njk" import dropzone %}

<article class="helper-module" data-module="m2st">
  <div class="container">
    <h1 class="tx-medium sp-m">Convert two mono tracks to a stereo track</h1>

    <div class="row sp-m">
      <div class="col-6">
        <span class="block tx-caption sp-xs">Left</span>

        {{ dropzone(id="m2st-left") }}
      </div>
      <div class="col-6">
        <span class="block tx-caption sp-xs">Right</span>

        {{ dropzone(id="m2st-right") }}
      </div>
    </div>

    <div class="row">
      <div class="col-12">
          <button class="button" data-convert disabled>convert</button>
      </div>
    </div>
  </div>
</article>
