<section>
  <h1>Two Mono To Stereo</h1>

  <div data-module="m2st">
    <label>
      LEFT
      <input type="file" accept="audio/wav,audio/mp3,audio/ogg,audio/webm,audio/aac,audio/x-m4a,audio/flac,audio/aiff,audio/mpeg" data-left>
    </label>

    <label>
      RIGHT
      <input type="file" accept="audio/wav,audio/mp3,audio/ogg,audio/webm,audio/aac,audio/x-m4a,audio/flac,audio/aiff,audio/mpeg" data-right>
    </label>

    <div>
      <button data-convert disabled>convert</button>
    </div>
  </div>

</section>
